.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  margin: 0 auto;
}

header {
  position: fiexed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}

.one {
  display: block;
  position: fixed;
}

.one.active {
  top: 0px;
}

.home-hero {
  width: 100%;
  height: 80rem;
  background-image: url(https://www.kaliop.com/app/uploads/2021/09/Key-visual-Hero-Home-scaled.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
}

/* MEDIA */

@media (max-width: 991px) {
 
  .footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .footer-top {
    flex-wrap: nowrap;
  }
  .footer-bottom {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

